.product {
  display: inline-block;
  width: 250px;
  height: 345px;
  border: 1px solid #e9e9e9;
  padding: 0 10px 10px 10px;
  margin-right: 15px;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 4px;
}

.product img {
    width: 230px;
    height: 230px;
  }

.prices h5 {
  display: inline-block;
  color: #f55d2c;
}

.prices h6 {
  display: inline-block;
  color: #8d8d8d;
  margin-left: 20px;
}

.quantityPicker {
  display: inline-block;
}

.btn-add {
  display: inline-block;
  margin-left: 35px;
}

QuantityPicker .quantity {
  width: 20px;
}
